@import 'scss/colors.scss';

#terminal-container {
  font-size: 2rem;
  padding-bottom: 10rem;
}

textarea {
  left: -1000px;
  position: absolute;
}

#typer::before {
  content: '';
  width: 50px;
  height: 50px;
  border-left: 12px solid #fff;
  animation: blink 0.7s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

.response {
  padding: 1rem 0;
}

.datetime, .username, .project-description {
  padding-right: 1.5rem;
}

